:root {
  /* Colors */
  --branding-color: #ff7f50;
  --secondary-color: cornsilk;
  --highlight-color: #d2691e;
  --muted-color: #a9a9a9;
  
  /* Margin Levels */
  --margin-1: 1px;
  --margin-2: 5px;
  --margin-3: 10px;
  --margin-4: 15px;
  --margin-5: 20px;

  /* Padding Levels */
  --padding-1: 1px;
  --padding-2: 5px;
  --padding-3: 10px;
  --padding-4: 15px;
  --padding-5: 20px;

  /* Size Variables */
  --size-small: 12px;
  --size-medium: 16px;
  --size-large: 20px;
  --size-xlarge: 30px;
  --size-2xlarge: 50px;
  --size-3xlarge: 100px;
}
  
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.introduction {
  background-color: var(--secondary-color);
  padding: var(--padding-5);
}

.introduction h1 {
  color: var(--branding-color);
  font-size: var(--size-3xlarge);
}
